<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" parallel="false" preserve-order="true"	verbose="2">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="com.testing.testclasses.PlaceOrderTest" />
			<!-- <class name="com.testing.testclasses.FetchOrderTest" />
				<class name="com.testing.testclasses.TakeOrderTest" />
					<class name="com.testing.testclasses.CompleteOrderTest" />
						<class name="com.testing.testclasses.CancelOrderTest" />  -->
		</classes>
	</test>
 <test name="test1">
		<classes>
			<class name="com.testing.testclasses.FetchOrderTest" />
		</classes>
	</test>
	<test name="test3">
		<classes>
			<class name="com.testing.testclasses.TakeOrderTest" />
		</classes>
	</test>
	<test name="test4">
		<classes>
			<class name="com.testing.testclasses.CompleteOrderTest" />
		</classes>
	</test>
	<test name="test5">
		<classes>
			<class name="com.testing.testclasses.CancelOrderTest" />
		</classes>
	</test>
	
</suite> <!-- Suite -->
